<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mz.auth.mapper.DicMapper">

<!--    Long getTotalCount(DicQuery dicQuery);-->
    <select id="getTotalCount" resultType="Long">
        select count(*) from t_dictype_data
    </select>

<!--    List<DicTypeData> getData(DicQuery dicQuery);-->
    <select id="getData" resultType="com.mz.auth.entity.DicTypeData">
        select * from t_dictype_data
        limit #{offset},#{page}
    </select>

<!--    <sql id="whereSql">-->
<!--        <where>-->
<!--            <if test="typeid != null and typeid != ''">-->
<!--                and typeid = #{typeid}-->
<!--            </if>-->
<!--        </where>-->
<!--    </sql>-->

</mapper>