<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mz.auth.mapper.PaperQuestionMapper">

    <!--    <insert id="insertBatchPaperQuestion">-->
    <!--        insert into exam_paper_question(paperId, questionId) values-->
    <!--        <foreach collection="list" item="item" separator=",">-->
    <!--            (#{item.paperId}, #{item.questionId})-->
    <!--        </foreach>-->
    <!--    </insert>-->

    <select id="previewPaper" resultMap="previewPaperMap">
        select p.id, p.name, p.startTime, p.endTime,
        eq.id eid, eq.questionTitle, eq.questionAnswer, eq.grade, eq.q_typeid,
        ex.id exid, ex.optionA, ex.optionB, ex.optionC, ex.optionD, ex.questionID exquestionId
        from exam_paper p
        join exam_paper_question ep on p.id = ep.paperId
        join exam_questionbank eq on eq.id = ep.questionId
        left join exam_xzt_options ex on eq.id = ex.questionId
        where p.id = #{paperId}
        order by q_typeid
    </select>

    <resultMap id="previewPaperMap" type="PaperGengerateVO">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="startTime" property="startTime"></result>
        <result column="endTime" property="endTime"></result>
        <collection property="questions" javaType="Question">
            <id column="eid" property="id"></id>
            <result column="questionTitle" property="questionTitle"></result>
            <result column="questionAnswer" property="questionAnswer"></result>
            <result column="grade" property="grade"></result>
            <result column="q_typeid" property="q_typeid"></result>
            <association property="questionXztOptions" javaType="QuestionXztOptions">
                <id column="exid" property="id"></id>
                <result column="optionA" property="optionA"></result>
                <result column="optionB" property="optionB"></result>
                <result column="optionC" property="optionC"></result>
                <result column="optionD" property="optionD"></result>
                <result column="exquestionId" property="questionId"></result>
            </association>
        </collection>
    </resultMap>

</mapper>